html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: #f5f5f5;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;

  .back-lists1 {
    background: #fff;
    height: 4px;
    width: 97%;
    z-index: 4;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .back-lists2 {
    background: #fff;
    height: 4px;
    width: 94%;
    z-index: 2;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #e9dad9;
  font-variation-settings: 'wght' 200;
}

.todo-app {
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;

  .arrow {
    position: absolute;
    top: 20px;
    left: 10px;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &.active {
      transform: rotate(0);
    }
  }

  input {
    width: 100%;
    padding: 10px 10px 10px 50px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;

    &:focus {
      outline: none;
    }
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;

    .checkbox-todos {
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      margin: 0;

      &:checked {
        border-color: #e9dad9;
        background-image: url("../public/checkbox.svg");
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: center;
      }

    }

    span {
      flex-grow: 1;
      text-align: left;
      font-size: 1.5rem;
      word-wrap: anywhere;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        color: #e9dad9;
      }
    }

    &.completed {
      span {
        text-decoration: line-through;
        color: #cccccc;
      }
    }
  }
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: #e8e8e8;

  .filters {
    display: flex;
    gap: 10px;
  }

  button {
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: #e9dad9;
    }

    &.active {
      border: 1px solid #e9dad9;
      border-radius: 5px;
      padding: 4px 9px;
    }
  }
}